<div class="search-box">
	<div class="">
		<div class="h5 text-center">Torrential</div>
		<form action="search" class="form-inline">
			<div class="form-group">
				<input name="q" type="text" class="form-control">
				<button class="form-control" type="submit">Search</button>
			</div>
		</form>
	</div>
</div>